@use './partials/variables' as *;
@import '~bootstrap/scss/bootstrap';
body {
    font-family: 'Roboto', sans-serif;
    // background-color: black;
}
img {
    max-width: 100%;
}
a{
    text-decoration: none;
}
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
}
.blue_header {
    background-color: $blue;
    width: 100%;
    height: 25px;

    div.blue_container {
        display: flex;
        justify-content: flex-end;
        align-content: center;
        max-width: 1100px;
        margin: 0 auto;
        padding-right: 2rem;

        div {
            padding: 5px 20px;
            color: white;
            font-size: 11px;
            text-transform: uppercase;
        }
    }
    
}
header {
    background-color: white;
    .container-header {
        justify-content: space-between;
        align-items: center;
        height: 80px;
    }
    #top-logo {width: 60px}
    nav {height: 80px;}
    ul {
        height: 100%;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        
        li {
            height: 100%;
            a {
            display: inline-block;
            text-decoration: none;
            font-weight: 600;
            font-size: 13px;
            text-transform: uppercase;
            color: $darkgray;
            padding: 0 1rem;
            line-height: 80px;
            &.active {
                color: $blue;
            }
            }
            &:hover {background-color: rgb(221, 221, 221);}
            &.active {
                border-bottom: 5px solid $blue;
            }
        }
        
    }
}
.jumbo {
    height: 35vh;
    overflow: hidden;
}
.home-title {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.300);

    h1{
        font-weight: bold;
        font-size: 55px;
        color: white;
    }
    span{
        color: $blue;
    }
}
.comic-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 50px 0;
    width: 80%;
    position: relative;

    .tag-section{
        position: absolute;
        left: 0;
        top: -20px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 15px;

        h3{
            font-size: 20px;
            font-weight: bold;
            color: white;
            margin: 0;
        }
    }

    .vz_card{
        width: calc((100% - 120px) / 6);
        margin: 10px;

        .img_card {
            height: 200px;
            overflow-y: hidden;

            img{
                width: 100%;
            }

        }
        .text_card {
            padding: 8px;
            p{
                text-transform: uppercase;
                font-size: 13px;
            } 
        }
    }
}
.create_button{
    background-color: white;
    width: 200px;
    padding: 15px;

    a{
        font-weight: bold;
        text-transform: uppercase;
    }
}
.load_button {
    background-color: $blue;
    width: 130px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 30px;
}
.container-show {
    position: relative;
    width: 70%;
    margin: auto;
    display: flex;
}

.blue-row{
    width: 100%;
    height: 50px;
    background-color: $blue;

    .cover-blue-row{
        position: absolute;
        left: 0;
        bottom: -40px;
        width: 120px;
        border: 1px solid white;
    }
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content */
.modal-content {
background-color: #fefefe;
margin: auto;
padding: 20px;
border: 1px solid #888;
width: 80%;
}

/* The Close Button */
.close {
color: #aaaaaa;
float: right;
font-size: 28px;
font-weight: bold;
width:max-content;
}

.close:hover,
.close:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}

.bottom-footer {
    background-color: $darkgray;
    div.container {
        justify-content: space-between;
        align-items: center;

        button {
        background-color: transparent;
        border: 2px solid $blue;
        color: white;
        text-transform: uppercase;
        padding: 15px;
        }

        > div {
            display: flex;
            justify-content: center;
            align-items: center;
            span {
            text-transform: uppercase;
            color: $blue;
            font-weight: bold;
            padding-right: 20px;
            }
            a {padding-right: 0.8rem; 
                img {
                    width:30px;
                    cursor: pointer;

                    &:hover{
                        filter: brightness(0) invert(1);
                    }
                }   
            }
        }
    }
    
}
